#home-wrapper {
  max-width: 100%;
  margin: 0;
}

#home {
  background: #5678d8;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 60px;
  margin: 0;
  padding: 0;
}

#home h1 {
  font-size: 60px;
  margin: 0;
  border: none;
  position: absolute;
  left: calc(50% - 500px);
  color: white;
  top: 135px;
}

#home h2 {
  border: none;
  position: absolute;
  top: 200px;
  left: calc(50% - 500px);
  color: rgba(0, 0, 0, 0.74);
}

#names {
  list-style: none;
  position: absolute;
  top: 5px;
  left: calc(50% + 145px);
  z-index: 99;
}

#names li h2 {
  margin: 0;
  position: relative;
}

#chart-wrapper{
  position: absolute;
  display: flex;
  justify-content: center;
  left: calc(50% - 480px);
  top: 400px;
}

.chart {
  width: 300px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.chart canvas {
  height: 200px;
}

.chart-svg {
  z-index: 1;
  position: absolute;
  top: 100%;
}

.button {
  text-decoration: none;
  background: #56CA9E;
  color: black;
  font-size: 20px;
  width: 150px;
  height: 50px !important;
  position: absolute !important;
  top: 215px !important;
  right: unset !important;
  left: calc(50% + 205px);
  text-align: center;
  border-radius: 2px;
}

.button span {
  position: absolute;
  left: 30px;
  top: 14px;
}

.button img {
  position: absolute;
  height: 30px !important;
  top: 10px;
  right: 25px;
}

.button:hover {
  background: #55B9A9 !important;
}


@media screen and (max-width: 1000px) {
  #home h1 {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 40px;
    width: 100%;
  }

  #home h2 {
    position: relative;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
  }

  #names {
    left: calc(50% - 160px);
    top: initial;
  }

  #home .button {
    display: block;
    position: relative !important;
    left: calc( 50% - 75px);
    top: 160px !important;
  }

  #chart-wrapper {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 320px;
    top: 190px;
  }

  .chart:nth-of-type(2), .chart:nth-of-type(3) {
    display: none;
  }
}
