@import url("nav.css");
@import url("home.css");
* {
	font-family: Helvetica;
}

html, body {
	height: 100%;
}

body {
  overflow-x: hidden;
}

main {
	color: #24292e;
	min-height: calc(100% - 100px);
}


.sliderDiv {
  display: none;
  margin: 0 auto;
  max-width: 60em;
  background-color: white;
	padding-top: 70px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 100px;
}

@media screen and (max-width: 550px){
	.sliderDiv{
		padding-top: 135px;
	}
	footer {
		height: 85px!important;
	}
}
h1, h2, h3 {
	padding-bottom: 0.3em;
}
h1, h2 {
	border-bottom: 1px solid #eaecef;
}
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}
p, li {
	font-size: 18px;
	line-height: 1.4;
}
.zitat {
	font-style: italic;
}

.arrow {
	position: fixed;
	top: calc(50% - 25px);
	height: 50px;
}

.arrow:hover {
	cursor: pointer;
	background: #f3f3f3;
	border-radius: 2px;
}
.arrow img {
	height: 50px;
}

#left {
	transform: rotateY(180deg);
	left: calc((100% - 75em) / 2);
}

#right {
	right: calc((100% - 75em) / 2);
}

@media (max-width: 1150px) {
	#left {
		display: none;
	}

	#right {
		display: none;
	}
}

.g-recaptcha, .coinhive-captcha, .coinhive-miner {
	width: 303px;
	margin: 30px auto;
	display: block;
}

.pictures {
	width:100%;
	max-width:700px;
  margin: 0 auto;
	display: block;
}

.picturerow {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.picturerow img {
	float: left;
  height: 125px;
	margin: 0 0 15px 0;
}

.picturesleft {
	width:100%;
	max-width:400px;
	float: left;
	margin: 0 15px 15px 0;
}

.picturesright {
	width:100%;
	max-width:400px;
	float: right;
	margin-left: 10px;
}

.TextnebenBild {
	min-height: 290px;
	vertical-align: center;
}

.slideOutLeft, .slideInFromRight, .slideOutRight, .slideInFromLeft {
  position: absolute;
  top: 0;
}

.slideOutLeft {
  left: calc((100% - 75em) / 2);
  animation: outLeft 0.5s linear;
}

@keyframes outLeft {
  to {left: -100%;}
}

.slideInFromRight {
  display: block !important;
  right: -100%;
  animation: inRight 0.5s linear;
}

@keyframes inRight {
  to {right: calc((100% - 75em) / 2);}
}

.slideOutRight {
  right: calc((100% - 75em) / 2);
  animation: outRight 0.5s linear;
}

@keyframes outRight {
  to {right: -100%;}
}

.slideInFromLeft{
  display: block !important;
  left: -100%;
  animation: inLeft 0.5s linear;
}

@keyframes inLeft {
  to {left: calc((100% - 75em) / 2);}
}

footer{
	width: 100%;
	height: 50px;
	background: #4a4a4a;
}

footer p {
	color: #cecece;
	text-align: center;
	padding-top: 15px;
}
